<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnWarning="false"
         failOnRisky="false"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="Authentication">
            <directory>tests/Auth</directory>
        </testsuite>
        <testsuite name="Authorization">
            <directory>tests/Authorization</directory>
        </testsuite>
        <testsuite name="Subscription">
            <directory>tests/Subscription</directory>
        </testsuite>
        <testsuite name="Payment">
            <directory>tests/Payment</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
    </php>
</phpunit>
